.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  color: var(--text-primary);
  padding: 8px 12px;
  border-radius: 20px;
  transition: background-color var(--transition-duration);
}

.toggle:hover {
  color: var(--text-secondary);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.text {
  font-size: var(--text-primary-size);
}
