.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.aboutInfo {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subTitle {
  font-weight: var(--text-secondary-weight);
  color: var(--text-secondary);
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-title);
  color: var(--text-primary);
  margin: 0;
}

.description {
  font-size: 1.125rem;
  font-weight: var(--text-primary-weight);
  line-height: 1.8;
  color: var(--text-secondary);
}
.photoBox {
  width: min(450px, 85vw);
  height: min(450px, 85vw);
  border-radius: 50%;
  position: relative;
  padding: 20px;
  overflow: hidden;
  background-color: var(--bg-primary);
}
.photoWrapper {
  width: min(430px, 80vw);
  height: min(430px, 80vw);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.photoBox::after,
.photoBox::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--accent-color)
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate-border 10s linear infinite;
  z-index: 1;
}
.photoBox::before {
  animation-delay: -5s;
}

.photo {
  border-radius: 50%;
  filter: grayscale(20%);
  transition: filter 0.3s ease;
}

.photo:hover {
  filter: grayscale(0%);
}
.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  align-self: flex-start;
  padding: 12px 24px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: var(--text-primary-size);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease;
  animation: pulse 3s infinite;
  box-shadow: 0 0 0 0px var(--shadow-color), 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.buttonGithub {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}
.buttonGithub svg {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  background: var(--text-primary);
  fill: var(--bg-primary);
  border-radius: 50%;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*Анимации*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px var(--shadow-color), 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(253, 17, 182, 0), 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(253, 17, 182, 0), 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}

@keyframes rotate-border {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*Адаптив*/
@media (max-width: 1205px) {
  .photoBox {
    width: min(400px, 80vw);
    height: min(400px, 80vw);
    order: 1;
  }

  .photoWrapper {
    width: min(380px, 75vw);
    height: min(380px, 75vw);
  }
  .description {
    text-align: justify;
  }
}
@media (max-width: 1024px) {
  .photoBox {
    width: min(330px, 75vw);
    height: min(330px, 75vw);
    order: 1;
  }

  .photoWrapper {
    width: min(310px, 70vw);
    height: min(310px, 70vw);
  }
  .aboutInfo {
    max-width: 400px;
  }
}

@media (max-width: 834px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
  }

  .aboutInfo {
    max-width: 100%;
    order: 2;
    text-align: center;
    min-width: 500px;
  }

  .photoBox {
    width: min(300px, 80vw);
    height: min(300px, 80vw);
    order: 1;
  }

  .photoWrapper {
    width: min(280px, 75vw);
    height: min(280px, 75vw);
  }

  .title {
    font-size: 2.2rem;
  }
  .buttonsWrapper {
    width: 70%;
    align-self: center;
  }
  .button {
    align-self: center;
  }
}

@media (max-width: 480px) {
  .photoBox {
    width: min(250px, 75vw);
    height: min(250px, 75vw);
  }

  .photoWrapper {
    width: min(230px, 70vw);
    height: min(230px, 70vw);
  }

  .aboutInfo {
    max-width: 100%;
    min-width: 300px;
    order: 2;
    text-align: center;
  }
  .buttonsWrapper {
    width: 100%;
  }
  .description {
    font-size: var(--text-primary-size);
  }
}

@media (orientation: portrait) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;

    overflow: hidden;
  }

  .aboutInfo {
    max-width: 80%;
    order: 2;
    text-align: center;
  }

  .photoBox {
    order: 1;
    width: min(500px, 80vw);
    height: min(500px, 80vw);
  }

  .photoWrapper {
    width: min(480px, 75vw);
    height: min(480px, 75vw);
  }

  .buttonsWrapper {
    max-width: 100%;
    align-self: center;
    gap: 10px;
  }
}
