.hamburgerButton {
  display: block;
  transform-origin: 16px 11px;
  margin-right: 29px;
  outline: 0;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;

  span {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 7px;
    background-color: var(--text-secondary);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover {
    span:nth-of-type(1) {
      width: 31px;
    }
    span:nth-of-type(2) {
      width: 38px;
    }
    span:nth-of-type(3) {
      width: 29px;
    }
  }

  &.active {
    span:nth-of-type(1) {
      transform: rotate(45deg) translate(8.75px, 8.75px);
      width: 35px;
    }
    span:nth-of-type(2) {
      opacity: 0;
    }
    span:nth-of-type(3) {
      transform: rotate(-45deg) translate(7px, -7px);
      width: 35px;
    }
  }
}

////////не применяется аочему-то!!
@media (min-width: 768px) {
  .hamburgerButton {
    display: none !important;
  }
}
